In [2]:
import pandas as pd
import numpy as np

In [8]:
table = pd.read_csv('sentiment.txt', header=None)

In [20]:
table.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [22]:
table.columns = ['token_scheme', 'n', 'all_until_n', 
                         'max_vocab_size', 'emb_dim', 'optim', 'lr_schedule', 'train_acc', 'val_acc', 'test_acc']

In [54]:
table.sort_values(by=table.columns[8], ascending=False).head(5)[['token_scheme', 'n',  
                         'max_vocab_size', 'emb_dim', 'optim', 'lr_schedule', 'train_acc', 'val_acc', 'test_acc']]

,token_scheme,n,max_vocab_size,emb_dim,optim,lr_schedule,train_acc,val_acc,test_acc
202,en_core_web_sm,1,25000,100,adam,linear_annealing,100.0,86.00,81.744
198,en_core_web_sm,1,25000,10,adam,linear_annealing,100.0,85.76,82.092
205,en_core_web_sm,1,25000,150,adam,constant,100.0,85.68,81.392
197,en_core_web_sm,1,25000,10,adam,constant,100.0,85.64,82.016
201,en_core_web_sm,1,25000,100,adam,constant,100.0,85.36,81.600

In [55]:
table.sort_values(by=table.columns[8], ascending=False).tail(5)[['token_scheme', 'n',  
                         'max_vocab_size', 'emb_dim', 'optim', 'lr_schedule', 'train_acc', 'val_acc', 'test_acc']]

,token_scheme,n,max_vocab_size,emb_dim,optim,lr_schedule,train_acc,val_acc,test_acc
31,en_core_web_sm,1,5000,10,sgd,constant,21.800,22.00,33.884
4,en_core_web_sm,1,1000,10,sgd,linear_annealing,21.770,22.00,22.260
60,en_core_web_sm,1,10000,10,sgd,linear_annealing,20.715,20.68,40.512
59,en_core_web_sm,1,10000,10,sgd,constant,20.090,20.44,43.348
32,en_core_web_sm,1,5000,10,sgd,linear_annealing,20.355,20.36,42.032

### Tokenization and N-Grams

In [29]:
df = table.loc[ (table['optim'] == 'adam') & (table['lr_schedule'] == 'linear_annealing') & (table['emb_dim'] == 100) & (table['max_vocab_size'] == 25000)]

In [35]:
df[['token_scheme', 'n', 'all_until_n', 'train_acc', 'val_acc']].sort_values(by='val_acc', ascending=False).head(5)

       token_scheme  n  all_until_n  train_acc  val_acc
202  en_core_web_sm  1        False    100.000    86.00
314  en_core_web_sm  2         True     99.895    83.36
426  en_core_web_sm  2        False    100.000    83.14
538  en_core_web_sm  3         True     99.740    82.96
650  en_core_web_sm  3        False     99.995    77.36

In [36]:
df[['token_scheme', 'n', 'all_until_n', 'train_acc', 'val_acc']].sort_values(by='val_acc', ascending=True).head(5)

       token_scheme  n  all_until_n  train_acc  val_acc
90   en_core_web_sm  1         True     99.990    37.10
650  en_core_web_sm  3        False     99.995    77.36
538  en_core_web_sm  3         True     99.740    82.96
426  en_core_web_sm  2        False    100.000    83.14
314  en_core_web_sm  2         True     99.895    83.36

### Embed Dim

In [37]:
df = table.loc[ (table['optim'] == 'adam') & (table['lr_schedule'] == 'linear_annealing') & (table['n'] == 1) & (table['max_vocab_size'] == 25000) & (table['token_scheme'] == 'en_core_web_sm') & (table['all_until_n'] == False) ]

In [45]:
df[ ['emb_dim', 'train_acc', 'val_acc'] ].sort_values(by = 'val_acc', ascending=False)

     emb_dim  train_acc  val_acc
202      100    100.000    86.00
198       10    100.000    85.76
206      150    100.000    84.96
222      500     99.735    84.64
210      200     99.760    84.42
214      250     99.675    84.42
218      300     99.780    84.40

### Max Vocab Size

In [46]:
df = table.loc[ (table['optim'] == 'adam') & (table['lr_schedule'] == 'linear_annealing') & (table['n'] == 1) & (table['emb_dim'] == 100) & (table['token_scheme'] == 'en_core_web_sm') & (table['all_until_n'] == False) ]

In [47]:
df[ ['max_vocab_size', 'train_acc', 'val_acc'] ].sort_values(by = 'val_acc', ascending=False)

     max_vocab_size  train_acc  val_acc
202           25000    100.000    86.00
146            5000     95.335    83.78
174           10000     98.740    83.12
118            1000     85.340    83.04

### Optimizer

In [48]:
df = table.loc[ (table['max_vocab_size'] == 25000) & (table['lr_schedule'] == 'linear_annealing') & (table['n'] == 1) & (table['emb_dim'] == 100) & (table['token_scheme'] == 'en_core_web_sm') & (table['all_until_n'] == False) ]

In [49]:
df[ ['optim', 'train_acc', 'val_acc'] ].sort_values(by = 'val_acc', ascending=False)

    optim  train_acc  val_acc
202  adam     100.00    86.00
204   sgd      64.06    64.98

### LR Schedule

In [50]:
df = table.loc[ (table['optim'] == 'adam') & (table['max_vocab_size'] == 25000) & (table['n'] == 1) & (table['emb_dim'] == 100) & (table['token_scheme'] == 'en_core_web_sm') & (table['all_until_n'] == False) ]

In [51]:
df[ ['lr_schedule', 'train_acc', 'val_acc'] ].sort_values(by = 'val_acc', ascending=False)

          lr_schedule  train_acc  val_acc
202  linear_annealing      100.0    86.00
201          constant      100.0    85.36