In [1]:
import pandas as pd
import numpy as np

In [4]:
table = pd.read_csv('./cnn_1/accuracy.txt', header=None)

In [5]:
table.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [7]:
table.columns = ['model_type',  'kernel_size', 'hidden_size', 'linear_hid_dim', 
                                                        'combine_method', 'regularization', 'train_acc',
                                                               'val_acc']

In [11]:
table.sort_values(by=table.columns[7], ascending=False).head(5)[[ 'kernel_size','hidden_size', 
                                                        'combine_method', 'regularization', 'train_acc',
                                                               'val_acc']]

    kernel_size  hidden_size combine_method regularization  train_acc  val_acc
6             3          100         concat        dropout     81.778     63.8
18            3          300         concat           none     93.510     63.7
1             5          100         concat           none     89.921     63.6
42            3          500         concat        dropout     89.490     63.1
37            5          500         concat           none     95.727     62.8

In [12]:
best_kernel_size = 3;
best_hidden_size = 100;
best_combine_method = 'concat';
best_regularization = 'dropout';

In [13]:
table.sort_values(by=table.columns[6], ascending=True).head(5)[['kernel_size', 'hidden_size', 
                                                        'combine_method', 'regularization', 'train_acc',
                                                               'val_acc']]

    kernel_size  hidden_size combine_method regularization  train_acc  val_acc
35            5          300            add   weight_decay     33.165     33.1
50            3          500            mul   weight_decay     33.198     33.8
52            3          500            add   weight_decay     33.200     33.8
34            3          300            add   weight_decay     33.200     33.8
15            5          100            mul   weight_decay     33.242     33.1

### Kernel Size

In [14]:
df = table.loc[ (table['combine_method'] == best_combine_method) & 
               (table['regularization'] == best_regularization) &
               (table['hidden_size'] == best_hidden_size)]

In [15]:
df[['kernel_size', 'train_acc', 'val_acc']].sort_values(by='val_acc', ascending=False).head(5)

   kernel_size  train_acc  val_acc
6            3     81.778     63.8
7            5     86.932     60.2

### Hidden Size

In [17]:
df = table.loc[ (table['combine_method'] == best_combine_method) & 
               (table['regularization'] == best_regularization) &
              (table['kernel_size'] == best_kernel_size)]

In [18]:
df[['hidden_size', 'train_acc', 'val_acc']].sort_values(by='val_acc', ascending=False).head(5)

    hidden_size  train_acc  val_acc
6           100     81.778     63.8
42          500     89.490     63.1
24          300     88.802     61.7

### Combine Method

In [19]:
df = table.loc[ (table['hidden_size'] == best_hidden_size) & 
               (table['regularization'] == best_regularization) &
              (table['kernel_size'] == best_kernel_size)]

In [20]:
df[['combine_method', 'train_acc', 'val_acc']].sort_values(by='val_acc', ascending=False).head(5)

   combine_method  train_acc  val_acc
6          concat     81.778     63.8
8             mul     79.442     59.8
10            add     77.266     57.6

### Regularization

In [21]:
df = table.loc[ (table['hidden_size'] == best_hidden_size) & 
               (table['combine_method'] == best_combine_method) &
              (table['kernel_size'] == best_kernel_size)]

In [22]:
df[['regularization', 'train_acc', 'val_acc']].sort_values(by='val_acc', ascending=False).head(5)

   regularization  train_acc  val_acc
6         dropout     81.778     63.8
0            none     87.338     62.6
12   weight_decay     33.302     32.4